.profile {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;

  &__content{
    width: 60%;
    height: 80%;
    background-color: #ffffff;
    border-radius: 1rem;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 10px #bbbbbb;

    .avatar {
      width: 70%;
      height: 50%;
      align-self: center;
      display: flex;
      flex-direction: row;
      justify-content: center;

      .user__img {
        width: 15rem;
        height: 15rem;
        align-self: center;
        border-radius: 15rem;
        border: 3px solid #e58f8f;

      }
      &__controls{
        margin-left: 2rem;
        width: 40%;
        height: 80%;
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-family: 'Lato', sans-serif;

        .title{
          align-self: center;
          width: 80%;
          height: 15%;
          color: #424242;
          font-size: 20px;
          font-family: 'Lato', sans-serif;
          font-weight: 500;
          text-align: center;
          margin-bottom: 7%;
        }
        .delete__btn, .upload__avatar {
          width: 50%;
          height: 20%;
          margin-bottom: 0.5rem;
          border: 5px solid #424242;
          background-color: transparent;
          outline: none;
        }
      }
    }

    .info {
      width: 70%;
      height: 30%;
      background-color: #c0b9b9;
      align-self: center;
    }

    .link{
      width: 70%;
      height: 10%;
      align-self: center;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      .navlink{
        width: 12%;
        height: 60%;
        background-color: #000000;
        align-self: center;
        text-align: center;
        text-decoration: none;
        color: #e58f8f;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.6;
        font-family: 'Lato', sans-serif;
      }
    }
  }
}