.controller {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__buttons__create {
    margin-top: 1rem;
    margin-bottom: 2rem;
    height: 30%;
    width: 70%;
    align-self: center;
    border: 1px solid transparent;
    border-radius: 0.6rem;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 500;
    background-color: #fffefe;
    box-shadow: 1px 1px 10px #d2d2d2;
    z-index: 2;

    &:hover{
      color: #e58f8f;
      font-weight: 600;
    }
  }

  &__storage {
    width: 95%;
    height: 40%;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

.storage__title {
  width: 90%;
  height: 30%;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 16px;
  align-self: center;
}

.storage__bar__wrapper {
  width: 90%;
  height: 0.5rem;
  border-radius: 1rem;
  background-color: #e5e5e5;
  align-self: center;
}

.storage__bar {
  width: 1%;
  height: 100%;
  background-color: #4c84e1;
  border-radius: 1rem;
}

.storage__info {
  width: 90%;
  height: 30%;
  align-self: center;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #757575;
}

.button__popup {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0, 0.2);
}
.button__popup__body {
  width: 16%;
  height: 15%;
  background-color: #f3fcff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 1px 1px 10px #b0b0b0;
  margin-left: 3%;
  margin-top: 11%;
  border-radius: 1rem;

  .button__popup__item {
    font-family: 'Lato', sans-serif;
    width: 90%;
    height: 45%;
    background-color: #f3fcff;
    border-radius: 1rem;
    align-self: center;
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    &:hover{
      text-decoration: underline;
    }
    .popup__item__img {
      width: 1.2rem;
      height: 1.2rem;
      align-self: center;
      justify-self: center;
      align-items: center;
    }
    .make-dir__title, .input__handler {
      width: 80%;
      height: 45%;
      display: flex;
      align-self: center;
      font-size: 18px;
      font-weight: 500;
      margin-left: 2%;
      justify-content: flex-start;
      align-items: center;
      .upload__input{display: none}
      .upload__input__label{
        align-self: center;
        justify-self: center;
        width: auto;
        height: 90%;
      }
    }
  }

  &__makedir, &__loadfile {
    width: 100%;
    height: 25%;
    align-self: center;
    flex-direction: row;
    display: flex;
    justify-content: center;
    &:hover {
      background-color: #f0f0f3;
    }
  }
}