.file{
  width: 100%;
  height: 2rem;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid #e58f8f;

  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1fr 1fr 2fr;

  &__icon {
    grid-column-start: 1;
    background-color: #b9ddf6;
    width: 2rem;
    height: 2rem;
    margin: auto;
  }

  &__title{
    width: 100%;
    grid-column-start: 2;
    background-color: #e58f8f;
    overflow: hidden;
    margin: 0;
    padding: 0;
    line-height: 1;
  }
  &__type {
    width: 100%;
    grid-column-start: 5;
    justify-self: center;
    background-color: #b9ddf6;
  }
  &__size {
    width: 100%;
    grid-column-start: 6;
    background-color: #e58f8f;
    justify-self: center;
  }
  &__date {
    width: 100%;
    grid-column-start: 7;
    background-color: #b9ddf6;
    justify-self: center;
  }
  &__fav {
    width: 100%;
    grid-column-start: 9;
    justify-self: center;
    background-color: #e5e5e5;
  }
}