.disk {
  margin-top: 1rem;
  width: 95%;
  height: 80%;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-between;

  &__explorer{
    width: 18%;
    max-height: 100%;
  }
  &__files {
    width: 80%;
    height: 100%;
  }
}

.controls {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__btns {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__filter {
    width: 30%;
    background-color: #e58f8f;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__upload__input{
    font-family: 'Lato', sans-serif;
    display: none;
  }
  &__upload__label{
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    padding: 0.2rem;
    border: 4px dashed #e58f8f;
  }
}

.button__back {
  width: 5rem;
  height: 2rem;
  border: 2px solid #e58f8f;
  border-radius: 5rem;
  background-color: transparent;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #e58f8f;
}

.dropfield {
  width: 90%;
  display: flex;
  align-self: center;
  justify-self: center;
  justify-content: center;
  align-items: center;
  height: calc(90vh - 50px - 40px);
  margin: 3rem;
  border: 5px dashed #e58f8f;

  &__content {
    width: 80%;
    height: 70%;
    padding: 1rem;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 5rem;
    box-shadow: 0  0 40px 30px #fff;
  }
  &__img {
    width: 20rem;
    height: 20rem;
    align-self: center;
  }
  &__descr {
    width: 30%;
    height: 50%;
    align-self: center;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #e58f8f;
  }
}

