@import "../../utils/colors";

.navbar {
  height: 50px;
  width: 100%;
  background-color: @white;
  justify-content: center;

  &_logo{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.container {
  width: 60%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: aqua;
}

.logo{
  width: 40px;
  height: 40px;
}
