.filelist {
  margin-top: 1rem;
  margin-bottom: 2rem;

  &__header {
    display: grid;
    width: 100%;
    height: 2rem;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr 1.5fr .5fr .5fr;
    border-bottom: 3px solid #e58f8f;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
  }
  &__img {
    grid-column-start: 1;
    align-self: center;
    font-size: 18px;
  }
  &__title{
    grid-column-start: 2;
    align-self: center;
    text-align: left;
  }
  &__type {
    grid-column-start: 4;
    align-self: center;
  }
  &__size {
    grid-column-start: 5;
    align-self: center;
  }
  &__date {
    grid-column-start: 6;
    align-self: center;
  }
  &__fav {
    grid-column-start: 7;
    align-self: center;
  }
  &__board {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 62vh;

    &::-webkit-scrollbar {
      display: none;
      overflow: scroll;
      -ms-overflow-style: none;
    }
  }
}

.filegrid {
  display: flex;
  flex-direction: column;

  &__board{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow: scroll;
    max-height: 50vh;

    &::-webkit-scrollbar {
      width: 0.5rem;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #808080;
      border-radius: 6px;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
  }
}


.files__types{
  margin-top: 1rem;
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;

  .docs, .images, .videos, .other {
    width: 24%;
    height: 100%;
    background-color: #ffe9e9;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 1px 1px 10px #d2d2d2;

    &:hover {
      background-color: #ecd6d6;
    }
  }

  .docs_img, .images_img, .videos_img, .other_img{
    width: 7rem;
    height: 7rem;
    border-radius: 1rem;
    box-shadow: 5px 1px 20px #c0c0c0;
  }
  .docs_title, .img_title, .videos_title, .other_title {
    width: 55%;
    height: 80%;
    align-self: center;
    border-radius: 1rem;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-weight: bolder;
    color: #424242;
  }
}

.horizontal_line {
  width: 100%;
  height: 1px;
  margin-top: 1rem;
  background-color: #d2d2d2;
  border-radius: 1rem;
  outline: none;
  border: #b9ddf6;
}

.nodata{
  width: 100%;
  height: 76vh;
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 1px 1px 10px #d2d2d2;
  display: flex;
  justify-content: center;
  &__content{
    width: 70%;
    height: 70%;
    align-self: center;
    justify-self: center;
    display: flex;
    justify-content: space-between;
  }
  &__img {
    width: 45%;
    height: 100%;
    align-self: center;
  }

  &__info{
    width: 40%;
    height: 80%;
    background-color: transparent;
    align-self: center;
    padding: 1rem;
    margin-right: 5%;
    border: 5px dashed #e58f8f;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #424242;

    &__error {
      font-weight: 400;
      font-size: 20px;
    }
  }
}

:global(.filelist__board) {
  overflow: scroll;
}

:global(.filelist__board::-webkit-scrollbar) {
  display: none;
  overflow: scroll;
  -ms-overflow-style: none;
}

:global(.filegrid__board) {
  overflow: scroll;
}

:global(.filegrid__board::-webkit-scrollbar) {
  display: none;
  overflow: scroll;
  -ms-overflow-style: none;
}
