
.filelist {
  margin-top: 1rem;
  margin-bottom: 2rem;

  &__header {
    display: grid;
    width: 100%;
    height: 2rem;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr 1.5fr .5fr;
    border-bottom: 3px solid #e58f8f;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
  }

  &__img {
    grid-column-start: 1;
    align-self: center;
    font-size: 18px;
    font-weight: black;
  }
  &__title{
    grid-column-start: 2;
    align-self: center;
    text-align: left;
  }
  &__type {
    grid-column-start: 4;
    align-self: center;
  }
  &__size {
    grid-column-start: 5;
    align-self: center;
  }
  &__date {
    grid-column-start: 6;
    align-self: center;
  }
  &__fav {
    grid-column-start: 7;
    align-self: center;
  }

  &__board::-webkit-scrollbar {
    display: none;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
  }
}